<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>LISTADO DE EMPLEADOS</h1>
        <br>

        {% block content %}
        <table border="1" style="width: 80%;">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Address</td>
                <td>Position</td>
                <td>Salary</td>
                <td>Skills</td>
            </tr>
        </thead>
        <tbody>
     
            {% for employee in employee %}
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.address }}</td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.salary }}</td>
                    <td>{% for skill in employee.skills %} {{ skill.skill }}, {% endfor %} </td>


                </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endblock %}
    </body>
</html>
