<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>LISTADO DE EMPLEADOS</h1>
        <br>

        <form  method="GET">
            <input type="text" name="email" id="email" placeholder="Buscar por Email" style="width:200px"/>
            <input type="submit" value="Buscar" />
        </form>
        <form  method="GET">
            <input type="text" placeholder="Salario Minimo" name="salarymin" id="salarymin" style="width:200px"/>
            <input type="text" placeholder="Salario Maximo" name="salarymax" id="salarymax" style="width:200px"/>
            <input type="submit" value="Buscar" />
        </form>
        {% block content %}
        <table border="1" style="width: 80%;">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Position</td>
                <td>Salary</td>
            </tr>
        </thead>
        <tbody>
     
            {% for employee in employees %}
                <tr>
                    <td><a href="detail/{{ employee.id }}">{{ employee.name }}</a></td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.salary }}</td>

                </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endblock %}
    </body>
</html>
