
<html>
   <body>
   <h1>Listado de empleado por salario</h1>
    <employees>
     <table border="1" style="width: 80%;">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Position</td>
                <td>Salary</td>
            </tr>
        </thead>
        <tbody>
     
            {% for employee in employees %}
                <tr>
                    <td><a href="detail/{{ employee.id }}">{{ employee.name }}</a></td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.salary }}</td>

                </tr>
            {% endfor %}

        </tbody>
    </table>
    </employees>    
   </body>
</html>